.glyphicon {
  font-size: 30px;
  cursor: pointer;
}

.search-box {
  display: none;
}

.main-container {
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  background-color: #aaa;
  color: white ;
}

.main-container a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}